<div class='controls'>
  <button><span class="oi" data-glyph="media-step-backward"></span></button>
  <button {{action 'playPause'}} class='big'>
    {{#if player.playing}}
      <span class="oi" data-glyph="media-pause"></span>
    {{else}}
      <span class="oi" data-glyph="media-play"></span>
    {{/if}}
  </button>
  <button><span class="oi" data-glyph="media-step-forward"></span></button>
</div>

<div class='status'>
  <div class='wrap'>
    <div class='title'>
      {{#if player.current}}
      <strong>{{player.current.title}}</strong> — {{player.current.artist}}
      {{else}}
        /
      {{/if}}
    </div>
    <div class='time'>
      <div class='position'>{{format-timecode player.position}}</div>
      <div class='progressbar' onclick={{action 'seek'}}>
        <div class='total'></div>
        <div class='current' style={{progressPercentage}}></div>
      </div>
      <div class='duration'>{{format-timecode player.duration}}</div>
    </div>
  </div>
</div>

<div class='buttons'>
</div>
